{{/*  socials academics or sports  */}}
{{ $events := where .Site.RegularPages "Section" "in" (slice "socials" "academics" "sports") }}
{{ $yesterday := now.Add (time.ParseDuration "-09h00m00s") }}
{{/*  {{ $yesterday := now.AddDate 0 0 -1 }}   */}}
{{ $filteredEvents := $events | intersect (where $events "Date" "ge" ($yesterday)) | last 5 }}
{{/*  loop through the events  */}}
{{- range $filteredEvents.Reverse -}}
    {{ partial "article-link/simple.html" . }}
    {{/*  add a blank line   */}} 
    <br>
{{- end -}}
{{/* print the list filteredEvents  */}}
{{/*  {{ printf "%#v" $filteredEvents }}  */}}