{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
{{- $url := urls.Parse (.Get "src") }}
{{- $name := .Get "name" }}
{{- $surname := .Get "surname" }}
{{- $role := .Get "role" }}
{{ $articleClasses := "flex flex-wrap article" }}

{{/*  <style>
    figure {
      border: 1px #cccccc solid;
      padding: 4px;
      margin: auto;
    }
    
    figcaption {
      background-color: #cccccc;
      color: rgb(107, 100, 100);
      font-style: normal;
      padding: 2px;
      text-align: center;
    }
    </style>  */}}

{{- $link := urls.RelRef .Page "1730563509467-Sammy-Webb---Treasurer" }}

{{/*  <a href="{{ $link }}" target="_blank">
    <figure>
        <img class="nozoom" src="{{ $url.String }}" alt="{{ $name }}" />
        <figcaption>
            <h3>{{ $name }}</h3>
            <p>{{ $role }}</p>
        </figcaption>
    </figure>
</a>  */}}

<div class="bg-foreground p-4 rounded-sm shadow-lg flex flex-col gap-4 border-border border-2">
    <div class="w-full pt-[100%] relative overflow-hidden" >
        
        <img src="{{$url.String}}" alt="{{$name}}" class="top-0 left-0 w-full h-full object-cover rounded-full nozoom" height="100" width="100"/>
        <div ></div>

    </div>
    <div class="flex flex-col">
        <h1>
            {{$name}} <span class="opacity-50"> {{$surname}}</span>
        </h1>
        <p class="text-xs text-primary opacity-50">{{$role}}</p>
      {{/*  <div class="flex space-x-2 mt-1">
        {person.links &&
          person.links.map((link) => (
            <a
              key={link.url}
              href={link.url}
              className="opacity-50 hover:opacity-100 inline-block"
            >
              {linkIcons[link.type]}
            </a>
          ))}
      </div>  */}}
    </div>
  </div>